* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

h1 {
    color: #6406B2;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

/*navbar*/
.bs-example {
    background-color: #6406B2;
    padding: 0px 30px;
    height: 60px;
}

.bg-light {
    background-color: #6406B2 !important;
    padding: 0px 30px;
    height: 60px;
}

.navbar-light .navbar-brand {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-family: "Saira Semi Condensed", sans-serif;
    padding: 0px 40px;
}

    .navbar-light .navbar-nav .nav-link img {
        width: 30px;
        height: 30px;
        color: white;
    }

/*end navbar*/

/*body*/
hr.solid {
    border-top: 3px solid #707070;
    margin-top: 5%;
}


.section2-product-details {
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px;
    max-width: 95%;
    margin: 5%;
}

    .section2-product-details h2 {
        font-family: 'Saira Semi Condensed', sans-serif;
        color: #000000;
        padding-left: 2%;
        text-align: left;
        margin-top: 8%;
        font-weight: bold;
    }

    .section2-product-details h5 {
        font-family: 'Saira Semi Condensed', sans-serif;
        color: #6406B2;
        padding-left: 2%;
        text-align: left;
        margin-top: 1%;
    }

    .section2-product-details h4 {
        font-family: 'Saira Semi Condensed', sans-serif;
        color: #6406B2;
        padding-left: 2%;
        text-align: left;
        margin-top: 4%;
        font-weight: bold;
    }

    .section2-product-details p {
        font-family: 'Saira Semi Condensed', sans-serif;
        color: #000000;
        padding-left: 2%;
        text-align: left;
        margin-top: 1%;
    }

    .section2-product-details .row0 {
        margin-top: 5%;
        margin-bottom: 3%;
        margin-left: 3%;
        font-family: 'Saira Semi Condensed', sans-serif;
    }

    .section2-product-details .row1 {
        margin-top: 10%;
        margin-bottom: 3%;
    }

    .section2-product-details .row2 {
        margin-bottom: 3%;
    }

    .section2-product-details .row3 {
        margin-bottom: 1%;
    }



.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.box2 {
    margin-top: 30px;
    width: 100%;
    padding: 0;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    text-align: center;
}

    .box2 img {
        max-width: 100%;
        width: 100%;
    }

    .box2 img {
        line-height: 0;
    }

.box2-modified {
    border-color: #F2F2F2;
    line-height: 0;
    border-width: 0;
}

/*---*/


/*information*/
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,0);
    font-family: 'Saira Semi Condensed', sans-serif;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
/* end information*/

/*--button--*/
.btn-warning {
    color: white;
    background-color: #6406B2;
    border-color: #6406B2;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 3%;
    margin-top: 2%;
    width: 100%;
    font-size: 20px;
    font-family: 'Saira Semi Condensed', sans-serif;
}

.owner-button {
    background-color: #0B2C9E;
    border-color: #0B2C9E;
}




h6 {
    font-size: 1.5rem;
    color: #6406B2;
    font-weight: bold;
}

.text-secondary {
    color: #000000 !important;
    font-weight: bold;
    font-size: 1.4rem;
}

.img_user {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    padding-top: 2%;
}

img {
    width: 200px;
}


/*---Footer--*/

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 0px;
    }
}


.footer-distributed {
    background-color: #6406B2;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px "Saira Semi Condensed", sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }

    /* Footer left */

    .footer-distributed .footer-left {
        width: 30%;
    }

    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }

    /* The company logo */

    .footer-distributed .footer-left img {
        width: 30%;
    }

    .footer-distributed h3 span {
        color: #ffc107;
    }

    /* Footer links */

    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
    }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

    .footer-distributed .footer-company-name {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    /* Footer Center */

    .footer-distributed .footer-center {
        width: 35%;
    }


        .footer-distributed .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

            .footer-distributed .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer-distributed .footer-center p a {
                color: #ffc107;
                text-decoration: none;
                ;
            }


    /* Footer Right */

    .footer-distributed .footer-right {
        width: 30%;
    }

    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: normal;
        margin: 0;
    }

        .footer-distributed .footer-company-about span {
            display: block;
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .footer-distributed .footer-icons {
        margin-top: 25px;
    }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

        .footer-distributed .footer-center i {
            margin-left: 0;
        }
}




.fixed-footer {
    width: 100%;
}

.b-container {
    display: flex;
}

    .b-container .btn {
        flex: 1;
        margin: 2%;
    }

@media(max-width:400px) {
    .b-container .text {
        display: none;
    }
}


.btn-band {
    background-color: #D20B0B;
    border-color: #D20B0B;
}

.btn-unband {
    background-color: #179A2C;
    border-color: #179A2C;
}



input[type="submit"] {
    background-color: #6406B2;
    color: white;
    border: none;
    width: 10%;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 3%;
    margin-top: 20px;
    padding: 10px;
    font-family: 'Saira Semi Condensed', sans-serif;
}

    input[type="submit"]:hover {
        background-color: #0B2C9E;
    }

input[type="search"] {
    width: 90%;
    padding: 12px;
    padding-left: 2%;
    border: 2px solid #6406B2;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    margin-left: 22%;
    font-family: 'Saira Semi Condensed', sans-serif;
}

.get {
    font-family: 'Saira Semi Condensed', sans-serif;
    color: #6406B2;
    font: bold;
    font-size: 20px;
    margin-left: 2%;
    margin-top: 5%;
    padding-top: 2%;
}


