@model Switch_and_Shift.Models.PRODUCTS
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Create";
    Layout = null;

}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Posts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;500;600;700&family=Shadows+Into+Light&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;500;600;700&family=Shadows+Into+Light&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <!--Icons-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/selling_form.css" />
    <link rel="stylesheet" type="text/css" href="~/css/edit_product_2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/header.css" />
    <link rel="stylesheet" type="text/css" href="~/css/footer.css" />
</head>


<body>
    <header>
        <div class="bs-example">
            <div class="topnav">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <img src="~/website_images/logo.png" class="logo_image" />
                    @if (HttpContextAccessor.HttpContext.Session.GetString("Email") != null)
                    {
                        <div class="topnav-right user">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                        <img src="~/website_images/profile_user_blue.png">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a asp-area="" asp-controller="USERS" asp-action="ViewProfile" class="dropdown-item">My Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a asp-area="" asp-controller="Home" asp-action="Index" class="dropdown-item logout" id="log-out">Log Out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-right"><a class="user_name">@HttpContextAccessor.HttpContext.Session.GetString("FirstName")</a></div>
                    }
                </nav>
            </div>
        </div>


        <nav class="navbar navbar-expand-md navbar-custom ">
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ml-auto mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="HOME" asp-action="Welcome">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="PRODUCTS" asp-action="Index">Search Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="PRODUCTS" asp-action="MyProducts">My Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="REPORTS" asp-action="BoughtProducts">Bought Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="REPORTS" asp-action="SoldProducts">Sold Products</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="section1">
        <div class="container register-form">
            <div class="form">
                <div class="form-content ">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h2 class="sign-up-h2">Create Products</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="product_category" class="control-label" style="font-weight: bold;"></label>
                                    <div class="input-icons">
                                        @Html.DropDownListFor(model => model.product_category, (List<SelectListItem>)ViewBag.categoryListItem,
                                       "Select one", new { @class = " " })
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="input-icons">
                                        <label asp-for="product_model" class="control-label" style="font-weight: bold;"></label>
                                        <input class="sign-up-input form-control" type="text" style="height: 55px; margin-bottom: 5%"
                                               asp-for="product_model" placeholder="Product Model" value="" />
                                        <span asp-validation-for="product_model" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-icons">
                                        <label asp-for="product_price" class="control-label" style="font-weight: bold;"></label>
                                        <input id="email_field" type="text" class="sign-up-input form-control" style="height: 55px; margin-bottom: 5%"
                                               asp-for="product_price" placeholder="Product Price" value="" />
                                        <span asp-validation-for="product_price" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-icons">
                                        <label asp-for="product_condition" class="control-label" style="font-weight: bold;"></label>
                                        <input class="sign-up-password form-control" style="height: 55px; "
                                               asp-for="product_condition" placeholder="Product Conditions" value="" />
                                        <span asp-validation-for="product_condition" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-icons">
                                        <label asp-for="product_brand" class="control-label" style="font-weight: bold;"></label>
                                        <input type="text" class="sign-up-input form-control" style="height: 55px; margin-bottom:5%"
                                               asp-for="product_brand" placeholder="Product Brand" value="" />
                                        <span asp-validation-for="product_brand" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-icons">
                                        <label asp-for="product_details" class="control-label" style="font-weight: bold;"></label>
                                        <input class="sign-up-input form-control" type="text" style="height: 55px; margin-bottom: 5%"
                                               asp-for="product_details" placeholder="Product Details" value="" />
                                        <span asp-validation-for="product_details" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-icons">
                                        <label asp-for="product_warranty" class="control-label" style="font-weight: bold;"></label>
                                        <input class="sign-up-input form-control" type="text" style="height: 55px; margin-bottom: 5% "
                                               asp-for="product_warranty" placeholder="Product Warranty" value="" />
                                        <span asp-validation-for="product_warranty" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-icons">
                                        <label asp-for="product_usage" class="control-label" style="font-weight: bold;"></label>
                                        <input class="sign-up-input form-control" type="text" style="height: 55px;"
                                               asp-for="product_usage" placeholder="Product Ugases" value="" />
                                        <span asp-validation-for="product_usage" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageFile" class="control-label" style="font-weight: bold; margin-left:2%"></label>
                            @*<label asp-for="ImageFile" class="control-label"></label>*@
                            <input style="margin-left:2.5%; margin-top:1.5%" asp-for="ImageFile" accept="image/*" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input class="new-container custom-sign-up-button" type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>






    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>

</html>
