@model IEnumerable<Switch_and_Shift.Models.PRODUCTS>

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
    var numberOfPost = 4;
    var counter = 0;
    var counter1 = 0;
    var counter2 = 0;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;500;600;700&family=Shadows+Into+Light&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <!--Icons-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/team_page.css" />
    <link rel="stylesheet" href="~/css/footer.css" />

    <title>HomePage</title>
</head>

<body>

    <div class="bs-example">
        <div class="topnav">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <img src="~/website_images/logo.png" class="logo_image" />
                <div class="topnav-right user">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle user_name" data-toggle="dropdown"> LOGIN </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a asp-area="" asp-controller="ADMINs" asp-action="AdminLogIn" class="dropdown-item">AS ADMIN</a>
                                <div class="dropdown-divider"></div>
                                <a asp-area="" asp-controller="USERS" asp-action="LogIn" class="dropdown-item logout" id="log-out">AS USER</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="topnav-right"><a asp-area="" asp-controller="USERS" asp-action="SignUp" class="user_name">SIGNUP</a></div>
            </nav>
        </div>
    </div>


    <nav class="navbar navbar-expand-md navbar-custom ">
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-auto mx-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index">HOME</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-action="AboutUs">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Team">TEAM PAGE</a>
                </li>



            </ul>
        </div>
    </nav>



    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-5 pb-2 ourTeam-hedding text-center">
                <h1>Our Team</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row section-success ourTeam-box text-center">
                    <div class="col-md-12 section1">
                        <img src="~/website_images/team1.jpg">
                    </div>
                    <div class="col-md-12 section2 pb-3">
                        <p>MUSTOFA AHMAD</p>
                        <span>Backend Developer</span>
                    </div>
                    <div class="col-md-12 section3">
                        <a href="https://web.facebook.com/ahmed.mostofa">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/mustofa-ahmed-3891201a1">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="https://github.com/MustofAhmed41">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row section-info ourTeam-box text-center">
                    <div class="col-md-12 section1">
                        <img src="~/website_images/team2.jpg">
                    </div>
                    <div class="col-md-12 section2 pb-3">
                        <p>SAMIA SABRINA NABI</p>
                        <span>Frontend Developer</span>
                    </div>
                    <div class="col-md-12 section3">
                        <a href="https://web.facebook.com/samiasabrina.abyob">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/samia-sabrina-nabi-abyob-808b3117b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Btg0sdYhhTKSkdMgf241amg%3D%3D">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="https://github.com/SamiaAbyob">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row section-danger ourTeam-box text-center">
                    <div class="col-md-12 section1">
                        <img src="~/website_images/team3.jpeg">
                    </div>
                    <div class="col-md-12 section2 pb-3">
                        <p>SADIA MOBASSHIRA</p>
                        <span>Backend Developer</span>
                    </div>
                    <div class="col-md-12 section3">
                        <a href="https://web.facebook.com/sadiamobasshira.hridi.5">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div style="height:150px;" >

    </div>

    <footer class="text-center custom-footer">
        <div class="container p-4 pb-0 footer-padding" style="margin-bottom:15px;">
            <a href="https://www.google.com/">
                <i class="fa fa-facebook-square footer-font"></i>
            </a>
            <a href="https://www.google.com/">
                <i class="fa fa-linkedin-square footer-font"></i>
            </a>
            <a href="https://www.google.com/">
                <i class="fa fa-github footer-font"></i>
            </a>
        </div>
        <p class="footer-links">
            <a>Team</a>
            |
            <a href="#">About</a>
            |
            <a href="#">Contact</a>
        </p>

        <div class="text-white text-center p-3" style="background-color:#6406B2; font-size: 1rem;">
            © 2021 Copyright:
            <a class="text-white" href="" style="text-decoration: none;">All Rights Reserved.</a>
        </div>
        <!-- Copyright -->
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
</body>

</html>

