@model Switch_and_Shift.Models.USERREVIEW
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "UserReview";
    Layout = null;
}



<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Posts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;500;600;700&family=Shadows+Into+Light&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;500;600;700&family=Shadows+Into+Light&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <!--Icons-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/review_form.css" />
    <link rel="stylesheet" href="~/css/foot.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <title>Review Form</title>
</head>
<body>

    <header>
        <div class="bs-example">
            <div class="topnav">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <img src="~/website_images/logo.png" class="logo_image" />
                    @if (HttpContextAccessor.HttpContext.Session.GetString("Email") != null)
                    {
                        <div class="topnav-right user">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                        <img src="~/website_images/profile_user_blue.png">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a asp-area="" asp-controller="USERS" asp-action="ViewProfile" class="dropdown-item">My Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a asp-area="" asp-controller="Home" asp-action="Index" class="dropdown-item logout" id="log-out">Log Out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-right"><a class="user_name">@HttpContextAccessor.HttpContext.Session.GetString("FirstName")</a></div>
                    }
                </nav>
            </div>
        </div>


        <nav class="navbar navbar-expand-md navbar-custom ">
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ml-auto mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="" asp-controller="HOME" asp-action="Welcome">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="PRODUCTS" asp-action="Index">Search Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="PRODUCTS" asp-action="MyProducts">My Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="REPORTS" asp-action="BoughtProducts">Bought Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="REPORTS" asp-action="SoldProducts">Sold Products</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="spinner_id" class="loading" style="display: none;"></div>
    <div class="section1">
        <div class="container">
            <div class="form-content ">
                <h2 style="margin-bottom: 35px">Write Your Review</h2>
                <form asp-action="UserReview">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-icons">
                        <input type="hidden" asp-for="reviewee_name" placeholder="Your Name" value=@ViewBag.Name>
                    </div>
                    <div class="input-icons">
                        <input type="hidden" asp-for="reviewee_email" placeholder="Your Email" value=@ViewBag.Email>
                    </div>
                    <div class="input-icons">
                        <input type="hidden" asp-for="reviewer_name" placeholder="Your Name" value=@ViewBag.ReviewerName>
                    </div>
                    <div class="input-icons">
                        <input type="hidden" asp-for="reviewer_email" placeholder="Your Email" value=@ViewBag.ReviewerEmail>
                    </div>
                    <div class="input-icons">
                        <textarea id="message" asp-for="review_description" placeholder="Write your Review" style="height: 180px; margin-left:50px"></textarea><i class="fa fa-pencil icon" style="top: 10%"></i>
                    </div>
                    <div class="input-icons">
                        <input type="hidden" asp-for="post_date" value=@ViewBag.Post_date readonly>
                    </div>
                    <input id="submitButton" type="Submit" value="Submit" style="margin-left: 50px;" class="Submitbutton">
                </form>

            </div>
        </div>
    </div>

    <div style="height: 100px;"> </div>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>






